* {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #272727;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 0 10em;
    margin-top: 5vh;
}

.h {
    color: #fff;        
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    background-color: rgba(50, 50, 50, 0.95);
    padding: 25px;
    box-shadow: inset 0 4px 4px 2px rgba(99, 99, 99, 0.25);
    border-radius: 30px;
    min-height: 70vh;
}

.section {
    display: flex;
    border-radius: 15px;
    background-color: rgb(80, 80, 80);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.store {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* .tasks__h1 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0.5em;
}

.completed-tasks__h1 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0.5em;
}

.store {
    padding: 3em 3em;
    border: 3px outset #dbdbdb;
    border-radius: 20px;
    background-color: #fff;
    min-height: 20vh;
    height: 50vh;
    overflow-y: auto;
}

.completed-tasks__container {
    display: flex;
    justify-content: center;
    padding: 1.5em;
}

.tasks__container {
    display: flex;
    justify-content: center;
    padding: 1.5em;
}

.tasks__store-title{
    display: grid;
    grid-template-columns: 1fr 1fr 3em 3em ;
    gap: 20px;
    padding: 0 1em;
    font-weight: bold;
    font-size: 1.1em;
}

.completed-tasks__store-title {
    display: grid;
    grid-template-columns: 1fr 1fr 3em;
    gap: 20px;
    padding: 0 1em;
    font-weight: bold;
    font-size: 1.1em;
}

.tasks__store {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.completed-tasks__store {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */